body {
    background: rgb(149, 149, 212);
    font: normal 1.26rem Arial;
}

header {
    color: white;
    text-align: center;
}

section {
     background: white;
     border-radius: 0.8360rem;
     padding: 1.2540rem;
     width: 31.25rem;
     margin: auto;
     margin-top: 1.3%;
     box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.493);
}

footer {
   color: white;
   text-align: center;
   font-style: italic;
}